<!DOCTYPE html>
<html>
<head>
  <title>OmniauthEverything</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, method: :delete %>
  <% else %>
    <% @providers.each do |provider_name, provider_id| %>
      <%= link_to "Sign in with #{provider_name}", "/auth/#{provider_id}" %>
      <br/>
    <% end %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
